.big {font-size: 30px;}
.pink {background-color: #fb397d;}
.pink:hover {background-color: #5b32b4 !important;}
.blue {background: #5b32b4;}
a.blue > i, .blue p {color: #fff}
.blue:hover {background-color: #fb397d;}
#slides-wrapper {margin-left: 0;}